installers/wix/*.exe filter=lfs diff=lfs merge=lfs -text
installers/wix/out-wpf/*.exe filter=lfs diff=lfs merge=lfs -text
out-wpf/*.exe filter=lfs diff=lfs merge=lfs -text
*.msi filter=lfs diff=lfs merge=lfs -text
