<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ErpDistDir">
            <Directory Id="dir644B0D45CC16B3AD6B825FAE275DB8EA" Name="dist">
                <Component Id="cmp1AC56BCBC2ADDA096B5AAB331D8EBCC4" Guid="{FF8092DF-DEDA-494B-94CB-8D8BCAAF2B12}">
                    <File Id="filE9500F3E8A2BAC3C587CCB59445E4E15" KeyPath="yes" Source="$(var.ErpDistSource)\favicon.ico" />
                </Component>
                <Component Id="cmp8A81726D7E022F9CAAEF63536E30A573" Guid="{C373598B-4D1F-430B-AC0E-0306EA5F4B8B}">
                    <File Id="filCB27E1A79DB2C099E3848518AFBF8547" KeyPath="yes" Source="$(var.ErpDistSource)\index.html" />
                </Component>
                <Component Id="cmp4FCBCA9F0214A51C1CDB4B1254D419C2" Guid="{182890D9-F792-43DC-9D6C-E7926FB23300}">
                    <File Id="filBE905ECC02D10DF2D09619C905850DA4" KeyPath="yes" Source="$(var.ErpDistSource)\placeholder.svg" />
                </Component>
                <Component Id="cmpD9C77B136618D6AE30C53FA7E943E5B0" Guid="{1069F5D5-DC3F-41A0-94C6-2C481AB87BB2}">
                    <File Id="filCBA4CB70593E734DAB2502B813CDA148" KeyPath="yes" Source="$(var.ErpDistSource)\robots.txt" />
                </Component>
                <Directory Id="dir377A4FCBB76635F3B2DB4C89FB166E3F" Name="assets">
                    <Component Id="cmpEF892998C757A3C4F97A25C916166F36" Guid="{7282E1DF-0814-4096-8B32-D4F60B77AE9E}">
                        <File Id="fil3AEA9DA8B344EE33C08BD048CA0300E0" KeyPath="yes" Source="$(var.ErpDistSource)\assets\index-BUbX6r-t.css" />
                    </Component>
                    <Component Id="cmp2C57EF6CDAB06FDA3D3F55BBB307736B" Guid="{E8227115-0A6A-4595-A942-6552245AB490}">
                        <File Id="fil26DCF7C64B16749DF90761A75A2B6230" KeyPath="yes" Source="$(var.ErpDistSource)\assets\index-DrFYOU39.js" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ErpDistComponents">
            <ComponentRef Id="cmp1AC56BCBC2ADDA096B5AAB331D8EBCC4" />
            <ComponentRef Id="cmp8A81726D7E022F9CAAEF63536E30A573" />
            <ComponentRef Id="cmp4FCBCA9F0214A51C1CDB4B1254D419C2" />
            <ComponentRef Id="cmpD9C77B136618D6AE30C53FA7E943E5B0" />
            <ComponentRef Id="cmpEF892998C757A3C4F97A25C916166F36" />
            <ComponentRef Id="cmp2C57EF6CDAB06FDA3D3F55BBB307736B" />
        </ComponentGroup>
    </Fragment>
</Wix>