<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="F-Flow Suite" Language="1046" Version="1.0.0.2" Manufacturer="2F Solutions" UpgradeCode="516A7E52-8F5D-4636-9F4E-8A73B2D6E1C4">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="Uma versao mais recente do F-Flow Suite ja esta instalada." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="F-Flow Suite" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="DesktopShortcutComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="StartupShortcutComponent" />
    </Feature>

    <!-- Observação: Custom actions para instalar/remover serviços serão definidas no Bundle (Burn) ou via scripts pós-instalação -->
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="F-Flow Suite">
          <Directory Id="ClientLocalDir" Name="client-local" />
          <Directory Id="ErpDir" Name="erp">
            <Directory Id="ErpDistDir" Name="dist" />
          </Directory>
          <Directory Id="InstallersDir" Name="installers">
            <Directory Id="WindowsInstallersDir" Name="windows" />
          </Directory>
          <Directory Id="LaunchersDir" Name="launchers" />
          <Directory Id="MonitorDir" Name="monitor" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuFflow" Name="F-Flow" />
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="StartupFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <!-- Componentes principais: instalam os artefatos gerados (client-local/dist e web/dist) e scripts -->
    <ComponentGroup Id="AppFiles">
      <!-- Copiar client-local/dist (API) -->
      <Component Id="ClientLocalDist" Guid="*" Directory="ClientLocalDir">
        <CreateFolder />
        <!-- Espera que os arquivos sejam colocados antes do build do MSI -->
        <File Source="..\..\client-local\dist\main.js" KeyPath="yes" Name="main.js" />
      </Component>

      <!-- Copiar ERP build (web/dist) -->
      <!-- Conteúdo completo da pasta dist será incluído via harvest (ErpDist.wxs) -->
      <ComponentGroupRef Id="ErpDistComponents" />

      <!-- Scripts de instalação de serviço (Windows) -->
      <Component Id="WindowsInstallerInstallScript" Guid="*" Directory="WindowsInstallersDir">
        <File Source="..\windows\service-install.ps1" Name="service-install.ps1" KeyPath="yes" />
      </Component>
      <Component Id="WindowsInstallerUninstallScript" Guid="*" Directory="WindowsInstallersDir">
        <File Source="..\windows\service-uninstall.ps1" Name="service-uninstall.ps1" KeyPath="yes" />
      </Component>

      <!-- Launcher para atalhos -->
      <Component Id="LauncherScript" Guid="*" Directory="LaunchersDir">
        <File Source="..\windows\launcher.ps1" Name="launcher.ps1" />
      </Component>

      <!-- App de monitor da bandeja -->
      <Component Id="TrayMonitorExe" Guid="*" Directory="MonitorDir">
        <File Source="..\tray-monitor\bin\Release\net48\ServiceTrayMonitor.exe" Name="ServiceTrayMonitor.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <!-- Atalhos: Launcher para abrir ERP em 8080 -->
    <Component Id="DesktopShortcutComponent" Guid="*" Directory="DesktopFolder">
      <Shortcut Id="DesktopShortcutFflowErp" Directory="DesktopFolder" Name="F-Flow ERP" WorkingDirectory="INSTALLDIR" Target="[System64Folder]WindowsPowerShell\v1.0\powershell.exe" Arguments="-NoProfile -ExecutionPolicy Bypass -File &quot;[INSTALLDIR]\launchers\launcher.ps1&quot;" />
      <RemoveFolder Id="DesktopFolderCleanup" Directory="DesktopFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\F-Flow\Installer" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="StartMenuShortcutComponent" Guid="*" Directory="ProgramMenuFflow">
      <Shortcut Id="StartMenuShortcutFflowErp" Directory="ProgramMenuFflow" Name="Abrir ERP" WorkingDirectory="INSTALLDIR" Target="[System64Folder]WindowsPowerShell\v1.0\powershell.exe" Arguments="-NoProfile -ExecutionPolicy Bypass -File &quot;[INSTALLDIR]\launchers\launcher.ps1&quot;" />
      <Shortcut Id="StartMenuShortcutUninstall" Directory="ProgramMenuFflow" Name="Desinstalar F-Flow Suite" WorkingDirectory="INSTALLDIR" Target="msiexec.exe" Arguments="/x [ProductCode]" />
      <Shortcut Id="StartMenuShortcutTrayMonitor" Directory="ProgramMenuFflow" Name="Monitor de Servicos" WorkingDirectory="INSTALLDIR" Target="[INSTALLDIR]\\monitor\\ServiceTrayMonitor.exe" />
      <RemoveFolder Id="ProgramMenuCleanup" Directory="ProgramMenuFflow" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\F-Flow\Installer" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <!-- Inicialização Automática: atalho na pasta de inicialização do usuário -->
    <Component Id="StartupShortcutComponent" Guid="*" Directory="StartupFolder">
      <Shortcut Id="StartupTrayMonitorShortcut" Directory="StartupFolder" Name="F-Flow Monitor de Servicos" Target="[INSTALLDIR]\\monitor\\ServiceTrayMonitor.exe" />
      <RegistryValue Root="HKCU" Key="Software\F-Flow\Installer" Name="StartupTrayMonitor" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>

  <Fragment>
    <!-- Custom Action: registra serviços automaticamente após copiar arquivos (deferred, no impersonation) -->
    <CustomAction Id="InstallServicesCA"
                  Directory="INSTALLDIR"
                  ExeCommand='[System64Folder]WindowsPowerShell\v1.0\powershell.exe -NoProfile -ExecutionPolicy Bypass -File &quot;[INSTALLDIR]\installers\windows\service-install.ps1&quot; -InstallRoot &quot;[INSTALLDIR]&quot;'
                  Execute="deferred" Return="check" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="InstallServicesCA" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <!-- Custom Action final: abre o ERP no navegador ao término da instalação -->
    <CustomAction Id="OpenErpCA"
                  Directory="INSTALLDIR"
                  ExeCommand='[System64Folder]WindowsPowerShell\v1.0\powershell.exe -NoProfile -ExecutionPolicy Bypass -Command "Start-Process \"http://localhost:8080/erp/login\""'
                  Execute="immediate" Return="ignore" Impersonate="yes" />

    <InstallExecuteSequence>
      <!-- Executa após finalizar a transação, apenas em primeira instalação -->
      <Custom Action="OpenErpCA" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>